html {
    background-color: darkslategray;
}
body {
    background-color: mintcream;
    width: 1200px;
    margin: auto;

    h1 {
        font-size: 3em;
        text-align: center;
        border-bottom: 2px solid darkslategray;
        padding: 10px;
    }
}


.movie {
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 3px;
    width: 200px;
    background-color: #4fb9ad;

    h2 {
        font-size: 1.2em;
        color: #201f38;
        margin: 6px 0;
        font-weight: bold;
    }

    p {
        margin: 6px 0;
    }
}

#movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-content: center;
    align-items: center;
    justify-content: center;
}

form {
    width: 25%;
    padding: 10px 5px;
    margin: 5px;
    border: 1px solid darkslategray;
    background-color: #40a1a1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    label {
        margin: 5px 0;
    }
    input {
        margin: 5px 0;
    }
}
